@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
  
}



.search {
    height: 40vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    background: #000;
}

.search img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
 
}

.search .content {
    color: #fff;
    text-align: center;
    position: relative;
    z-index: 2;
}

.search h1 {
    margin-top:  7.9rem;
    font-size: 2.45rem;

}

.search p {
    font-size: 1.5rem;
    font-weight: 500;
    margin-top: 8px;
}

.search .search-box {
    height: 55px;
    margin: 45px 0;
    position: relative;
}

.search-box i {
    position: absolute;
    left: 20px;
    top: 50%;
    font-size: 1.4rem;
    color: #8d8d8d;
    transform: translateY(-50%);

}

input,
button,
i {
    outline: 0;
    border: 0;
    border-radius: 5px;
}


.search-box input {
    width: 100%;
    height: 100%;
    outline: none;
    border: none;
    font-size: 1.1rem;
    padding-left: 55px;
    border-radius: 5px;
}

.gallery {
    display: flex;
    flex-direction: column;
    align-items: center;
    background:#000;
}

.gallery .images {
    gap: 15px;
    max-width: 85%;
    margin-top: 40px;
    columns: 5 340px;

}

.images .card {
    display: flex;
    overflow: hidden;
    position: relative;
    list-style: none;
    margin-bottom: 14px;
    border-radius: 4px;

}

.images .card .details {
    position: absolute;
    bottom: -100px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 20px;
    transition: all 0.5s ease;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.7), transparent);

}

.images .card:hover .details {
    bottom: 0;

}

.photographer {
    color: #fff;
    display: flex;
    align-items: center;

}


.photographer i {
    font-size: 1.4rem;
    margin-right: 10px;
}



.photographer span {
    font-size: 1.05rem;
}

.card .details button {
    cursor: pointer;
    padding: 3px 8px;
    font-size: 1.1rem;
    background: #fff;
}

.images img {
    width: 100%;
}

.gallery .load-more {
    margin: 50px 0;
    color: #fff;
    cursor: pointer;
    font-size: 1.2rem;
    padding: 12px 27px;
    background: #8a6cff;
}

.gallery .load-more.disable {
    opacity: 0.6;
    pointer-events: none;

}

.lightbox {
    position: fixed;
    z-index: 5;
    width: 100%;
    height: 100%;
    display: none;
    background: rgba(0, 0, 0, 0.65);
}

.lightbox.show {
    display: block;
    transition: all 0.5s ease;
}

.lightbox .wrapper {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%; /* Add your styles here */
    height: 100%;
    padding: 20px;
    max-width: 700px;
    height: 600px;
    background: #fff;
    border-radius: 5px;
}


.wrapper header {
    display: flex;
    align-items: center;
    justify-content: space-between;

}

header .photographer {
    color: #333;

}


header .photographer i {
    font-size: 1.7rem;
}

header .photographer span {
    font-size: 1.2rem;
}

header .buttons i {
    width: 40px;
    height: 40px;
    color: #fff;
    text-align: center;
    cursor: pointer;
    line-height: 40px;
    background: #8a6cff;
    font-size: 1.2rem;
    display: inline-block;

}

.buttons i:last-child {
    margin-left: 10px;
    background: #8d8d8d;
}

.preview-img {
    display: flex;
    margin-top: 25px;
    justify-content: center;

}


.wrapper .preview-img .img {
    max-width: 90vh;
    max-height: 65vh;
}

.preview-img .img img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}


  @media  screen  and (max-width: 576px) {
    
.search-box input {
    width: 80%;
    height: 100%;
    outline: none;
    border: none;
    font-size: 1.1rem;
    padding-left: 55px;
    border-radius: 5px;
}

.gallery .images {
    gap: 15px;
    max-width: 85%;
    margin-top: 40px;
    columns: 5 140px;

}
}  


